@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(50, 20%, 95%);
  --foreground: hsl(50, 5%, 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(250, 20%, 5%);
    --foreground: hsl(100, 100%, 95%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
